.container{
    width: 100%;
    height: 100vh;
    display: 
    flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .cards{
        width: 80vw;
        height: 80vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .card{
        width: 15vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: 3px solid #005695;
        border-radius: 20px;
        padding: 1vw;
        img{
            width: 50%;
        }
    }
}

/*Responsividade*/
@media (max-width:500px) {
    .container{
        width: 100%;
        height: 340vh;
        .cards{
            width: 80vw;
            height: 320vh;
        }
        .card{
            width: 60vw;
            height: 30vh;
        }
    }        
}