header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1vw 1vw 2.5vw 1vw;
    background: linear-gradient(90deg, #001b2f 0%, #3e95d2 100%);
    color: #FFFFFF;
    .logo{
        width: 25vw;
        min-width: 15vw;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        p{
            width: 18vw;
            min-width: 15vw;
            font-size: 1.5vw;
            font-weight: 600;
        }
    }
    .logoImg{
        width: 3vw;
        min-width: 1vw;
    }
}
.navigation{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    ul{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .link{
        color: #FFFFFF;
        font-size: 1.5vw;
        text-decoration: none;
    }
}
.search{
    width: 18vw;
    min-width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 1vw;
    margin: 1vw 0 0 0;
    input{
        width: 70%;
        height: 4vh;
        color: #FFFFFF;
        background-color: transparent;
        border: transparent;
        margin: 0.5vw 0;
        text-align: center;
        outline: 0;
        font-size: 1vw;
    }
    .btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        img{
            width: 1.5vw;
        }
    }
}
::-webkit-input-placeholder{
    color: #FFFFFF;
    opacity: 0.8;
}
:-ms-input-placeholder{
    color: #FFFFFF;
    opacity: 0.8;
}
:-moz-placeholder{
    color: #FFFFFF;
    opacity: 0.8;
}
::-moz-placeholder{
    color: #FFFFFF;
    opacity: 0.8;
}

/*Responsivo*/
@media (min-width:501px) and (max-width: 768px) {
    header{
        height: 15vh;
        padding: 0;
        justify-content: space-evenly;
        align-items: center;
        .logo{
            width: 45vw;
            min-width: 30vw;
            justify-content: space-evenly;
            margin: 0 11vw;
            p{
                width: 26vw;
                font-size: 2.5vw;
            }
        }
        .logoImg{
            width: 4vw;
            min-width: 1vw;
        }
    }
    .navigation{
        align-items: flex-end;
        height: 3.5vw;
        ul{
            width: 40vw;
        }
        .link{
            font-size: 2.3vw;
        }
    }
    .search{
        display: none;
    }
}
@media (max-width: 500px) {
    header{
        height:25vh;
        padding: 0 0 4vw 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .logo{
            width: 50vw;
            p{
                width: 35vw;
                min-width: 30vw;
                font-size: 4vw;
            }
        }
        .logoImg{
            width: 8vw;
        }
    }
    .navigation{
        height: 1vh;
        ul{
            width: 60vw;
        }
        .link{
            font-size: 3.5vw;
        }
    }
    .search{
        display: none;
    }
}