header{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1vw 1vw 2.5vw 1vw;
    background: rgb(0,27,47);
    background: linear-gradient(170deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 100%);
    color: #FFFFFF;
    .logo{
        width: 18vw;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .logoImg{
        width: 3vw;
    }
}
.navigation{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5vw;
    ul{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
.search{
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #FFFFFF;
    border-radius: 1vw;
    margin: 1vw 0 0 0;
    input{
        width: 70%;
        height: 4vh;
        color: #FFFFFF;
        background-color: transparent;
        border: transparent;
        margin: 0.5vw 0;
        text-align: center;
        outline: 0;
    }
}
::-webkit-input-placeholder{
    color: #FFFFFF;
    opacity: 0.5;
}
:-ms-input-placeholder{
    color: #FFFFFF;
    opacity: 0.5;
}
:-moz-placeholder{
    color: #FFFFFF;
    opacity: 0.5;
}
::-moz-placeholder{
    color: #FFFFFF;
i    opacity: 0.5;

}